* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background: #ffffff;
  color: #111111;
}
h1,
h2,
h3 {
  font-family: "Bricolage Grotesque", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 24px;
}
nav {
  display: flex;
  gap: 24px;
}
a {
  color: #111111;
  text-decoration: none;
}
